---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Christopher Monjaras";
---
<Layout pageTitle={pageTitle}>
   <center> <img src="https://raw.githubusercontent.com/cmonjaras/cmonjaras.github.io/refs/heads/main/public/images/Chris_Photo.jpg" alt="Photo of Christopher Monjaras" width = "350" style="margin-top: 1rem" /> </center>

   <!-- <h1>Cwis</h1>
    <span class="badge">PhD Candidate at the University of Notre Dame</span> 
    -->
    <h2>About</h2>
    <p>
        Christopher E. Monjaras is PhD candidate from the University of Notre Dame. Born and raised in Albuquerque, New Mexico, he graduated from Cornell University in 2020 with a B.S. from the New York State School of Industrial and Labor Relations. As a member of the Notre Dame Program for Interdisciplinary Research in Education (PIER), his primary research interests lie in applied microeconomics with particular attention to the economics of education, school finance, and the teacher labor supply.

    </p>
    
    
    <h2>Contact Information</h2> <br>
    <address>
    <p style="margin:0; padding-bottom: 20px; padding-left:.2rem; text-indent:-.2rem; font-family: var(--body);">
    <strong>Work Address: </strong><br>
        <span class="indent"> 3083 Jenkins Nanovic Hall</span><br>
         <span class="indent"> Notre Dame, Indiana 46556</span><br>
        </p>
    <p style="margin:0; padding-bottom: 20px; padding-left:.2rem; text-indent:-.2rem; font-family: var(--body);"> <strong>Phone Number:</strong> <br>
      <span class="indent">   <a href="tel:+15742132036"> (574) 213-2036</a> </span> <br>

    <p style="margin:0; padding-bottom: 20px; padding-left:.2rem; text-indent:-.2rem; font-family: var(--body);"><strong >Email:</strong> <br>
      <span class="indent"> <a href="mailto: cmonjara@nd.edu "> cmonjara@nd.edu </a>  <span class="indent"></span><br>
      </p> 
     </address>
</Layout>

