---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Cwis";
---
<Layout pageTitle={pageTitle}>
    <img src="/images/your-image.jpg" alt="Description of image" />

   <!-- <h1>Cwis</h1>
    <span class="badge">PhD Candidate at the University of Notre Dame</span> 
    -->
    <h2>About</h2>
    <p>
        Christopher Monjaras is PhD candidate from the University of Notre Dame. Born and raised in Albuquerque, New Mexico, he graduated from Cornell University in 2020 with a B.S. from the New York State School of Industrial and Labor Relations. As a member of the Notre Dame Program for Interdisciplinary Research in Education (PIER), his primary research interests lie in applied microeconomics with particular attention to the economics of education, school finance, and the teacher labor supply.

    </p>
    
    
    <h2>Contact Information</h2>
    <p>
        Work Address 
    </p>
    <p>Phone Number </p>
    <p>Email </p>
</Layout>

