---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Christopher Monjaras";
---
<Layout pageTitle={pageTitle}>
   <center> <img src="https://raw.githubusercontent.com/cmonjaras/cmonjaras.github.io/refs/heads/main/public/images/Chris_Photo.jpeg" alt="Photo of Christopher Monjaras" width = "350" style="margin-top: 1rem" /> </center>

    <center><p> University of Notre Dame <br> Department of Economics </p></center>
    <h2>About</h2>
    <p>
        I am a PhD candidate from the University of Notre Dame. My area’s of research include public economics, labor economics, and the economics of education. I use a blend of machine learning tools and traditional causal inference techniques to study public finance in the US education system. My other research looks at K-12 faculty labor markets and measuring teacher effectiveness.
    </p>
    <p>I am on the job market for AY 2025/2026.</p>
    <p><span><a href = "https://raw.githubusercontent.com/cmonjaras/cmonjaras.github.io/main/public/monjaras_cv.pdf">CV</a></span><br>
    <span> <a href = "https://raw.githubusercontent.com/cmonjaras/cmonjaras.github.io/main/public/onjaras_teaching_evals.pdf">Teaching Evaluations</a></span><br>
    <span> Job Market Paper (Coming soon)</span><br></p>
   

    
    <h2> Job Market Paper </h2>
    <p> <strong>Credit Crunch in the Classroom: School District Financing Under Liquidity Constraints</strong> </p> 
    <p> In this paper, I examine how access to bond market liquidity affects future funding and staffing decisions in the US education system. Using a novel and comprehensive dataset of all municipal bonds issued by U.S. public school districts since 1987,
    I apply machine learning techniques to identify districts near key credit rating thresholds.
    Leveraging an RD design, I then estimate the causal impact of diminished credit access across these thresholds. I find that reduced access to bond market credit results in approximately 5% lower spending in the fiscal year following a ratings update. 
    I show that this is primarily driven by decreases in property tax revenue, capital expenditure spending and maintenance staff compensation with the largest effects observed for mid-sized school districts by total revenue.
    </p>

    
    <h2>Contact Information</h2> <br>
    <address>
    <p style="margin:0; padding-bottom: 20px; padding-left:.2rem; text-indent:-.2rem; font-family: var(--body);">
    <strong>Work Address: </strong><br>
        <span class="indent"> 3060 Jenkins Nanovic Hall</span><br>
         <span class="indent"> Notre Dame, Indiana 46556</span><br>
        </p>
    <p style="margin:0; padding-bottom: 20px; padding-left:.2rem; text-indent:-.2rem; font-family: var(--body);"> <strong>Phone Number:</strong> <br>
      <span class="indent">   <a href="tel:+15742132036"> (574) 213-2036</a> </span> <br>

    <p style="margin:0; padding-bottom: 20px; padding-left:.2rem; text-indent:-.2rem; font-family: var(--body);"><strong >Email:</strong> <br>
      <span class="indent"> <a href="mailto: cmonjara@nd.edu "> cmonjara@nd.edu </a>  <span class="indent"></span><br>
      </p> 
     </address>
</Layout>

