---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardPost.astro";
const allPosts = await getCollection("posts");
const pageTitle = "Research";
---

<Layout pageTitle={pageTitle}>
<h2> Research </h2>
<h2>Job Market Paper </h2>
Latest Version Coming soon

<h3><strong> Credit Crunch in the Classroom: School District Financing Under Liquidity Constraints</strong></h3>
<p><strong> Abstract:</strong>  In this paper, I examine how access to bond market liquidity affects future funding and staffing decisions in the US education system. Using a novel and comprehensive dataset of all municipal bonds issued by U.S. public school districts since 1987,
 I apply machine learning techniques to identify districts near key credit rating thresholds.
 Leveraging an RD design, I then estimate the causal impact of diminished credit access across these thresholds. I find that reduced access to bond market credit results in approximately 5% lower spending in the fiscal year following a ratings update. 
I show that this is primarily driven by decreases in property tax revenue, capital expenditure spending and maintenance staff compensation with the largest effects observed for mid-sized school districts by total revenue.
</p>
<h2>Working Papers</h2>
<p><strong>Teachers Helping Teachers? Peer Effects of Elementary School Faculty on Coworker Performance </strong></p>
<p><strong> Abstract:</strong> Teachers influence student achievement, not only through direct instruction but also via between-teacher peer effects which are understudied. 
Using data from Indiana public elementary schools, I estimate between-teacher spillovers through standardized test score value-added measures by leveraging idiosyncratic employment changes of high- and low-performing teachers. 
High-quality teachers generate positive spillovers of 0.05–0.15 SD, while low-quality teachers create negative spillovers of 0.05–0.1 SD. These effects are comparable to major education policies like incentive pay programs, highlighting the importance of teacher spillovers in student learning. 
Understanding these indirect effects is crucial for optimizing teacher workforce policies and improving educational outcomes.
</p>

<h2>Works In Progress</h2>







</Layout>
