---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/CardPost.astro";
const allPosts = await getCollection("posts");
const pageTitle = "Teaching";
---

<Layout pageTitle={pageTitle}>
    
 <h2> Teaching Evaluations </h2>
 <p> To download click this  <a target="_blank" href="https://github.com/cmonjaras/cmonjaras.github.io/blob/main/public/monjaras_teaching_evals.pdf" rel="noopener noreferrer">link </a> </p>
<h2> Classes </h2>   
<p> <strong>Principles of Microeconomics </strong>  </p>
<h3><a href = "https://raw.githubusercontent.com/cmonjaras/cmonjaras.github.io/main/public/principles_of_micro.pdf">Summer 2024 Syllabus</a><h3>

<p> This undergraduate course serves as an introduction to the study of economics with a particular focus on the field of microeconomics. Microeconomics is the study of a set of models, their underlying assumptions, and their implications as they pertain to the behaviors and interactions of individuals and groups. 
In particular, we will be looking at models involving the pricing mechanism, competitive and monopolistic markets, government regulation of the economy, labor-management relations, income determination, public policy, and trade. 
The goals of this class are to expose students to the fundamental principles of economic thinking, develop their toolbox of economic models to allow for the analysis of common economic and social interactions, and to prepare students for future coursework in topics including business, finance, and economic theory.
</p>


</Layout>
