---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
           <li class="icon__btn">
                <a class="icon__link" href="#" target="_blank">
                    <img src="https://github.com/Elizabeth-Fitz/Cwis_Web/blob/main/public/images/github-mark.svg" alt="GitHub" class="git-icon">
                </a>
            </li>
            <li class="icon__btn"><a class="icon__link" href="https://economics.nd.edu/people/graduate-students/christopher-monjaras/"><span class="mail-icon">ND Intro Page</span></a></li>
        </ul>
        <small>&copy; {year} Milky-Way by <a class="footer__link" href="https://github.com/ttomczak3">ttomczak</a>. All Rights Reserved.</small>
    </div>
</footer>

