---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
           <li class="icon__btn">
                <a class="icon__link" href="https://github.com/cmonjaras" target="_blank">
                   <span class="git-icon">GitHub</span>
                </a>
            </li>
            <li class="icon__btn">
                <a class="icon__link" href="https://economics.nd.edu/people/graduate-students/christopher-monjaras/" target="_blank">
                    <span class = "cap-icon style = "margin-left:-2.5px;">Education</span>
                </a>
            </li>
           
        </ul>
        <small>&copy; {year} Milky-Way by <a class="footer__link" href="https://github.com/ttomczak3">ttomczak</a>. All Rights Reserved.</small>
    </div>
</footer>

