---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
           <li class="icon__btn">
                <a class="icon__link" href="#" target="_blank">
                    <img src="https://raw.githubusercontent.com/cmonjaras/cmonjaras.github.io/a9b2d9e40cfaf5fa27b5204eb3bc595ae75b3ae1/public/images/github-mark.svg">
                </a>
            </li>
            <li class="icon__btn">
                <a class="icon__link" href="https://economics.nd.edu/people/graduate-students/christopher-monjaras/" target="_blank">
                    <img src="https://github.com/cmonjaras/cmonjaras.github.io/blob/main/public/images/grad%20cap.png?raw=true" style = "margin-left:-2.5px;">
                </a>
            </li>
           
        </ul>
        <small>&copy; {year} Milky-Way by <a class="footer__link" href="https://github.com/ttomczak3">ttomczak</a>. All Rights Reserved.</small>
    </div>
</footer>

