---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href={`${import.meta.env.BASE_URL}`}>Milky-Way</a>
    </div>
    <div class="navbar__menu">
        
        <a href={`${import.meta.env.BASE_URL}works/`}>Works</a>
        <a href={`${import.meta.env.BASE_URL}posts/`}>Posts</a>

        <a href="https://github.com/Elizabeth-Fitz/Cwis_Web" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>

