---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href={`${import.meta.env.BASE_URL}`}>Christopher E. Monjaras</a>
    </div>
    <div class="navbar__menu">
        
        <a href={`${import.meta.env.BASE_URL}CV/`}>CV</a>
        <a href={`${import.meta.env.BASE_URL}Research/`}>Research</a>
        <a href={`${import.meta.env.BASE_URL}Teaching/`}>Teaching</a>
        
        <!-- <a href="https://github.com/cmonjaras/cmonjaras.github.io" target="_blank">GitHub</a> -->

        <ThemeIcon />
    </div>
</div>

